h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:red;
}
h5{
    color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}